* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(1, 1, 1);
  font-family: Georgia, 'Times New Roman', Times, serif
}

p {
  margin: 15px 0;
}

/* Basic styles */

#start-page,
#lose-page {
  height: 825px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid white;
  margin-top: 10px;
  background: rgb(245, 241, 241);
  color: black;
}

#lose-page {
  display: none;
}

canvas {
  height: 825px;
  width: 600px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url('../img/seaback.png');
  background-size: cover;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}