/* Font and General Elements */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(1, 1, 1);
  background-image: url('../img/grass.png');
  font-family: 'Poppins', sans-serif;
}


p {
  margin: 25px 70px;
  font-size: 28px;
}

h1 {
  color: #000000;
  font-size: 70px;
}

h2 {
  color: #000000;
  font-size: 50px;
}


/* Basic styles */

#start-page,
#lose-page,
#gameover-page,
#level-page {
  height: 760px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid white;
  margin-top: 0px;
  background: rgb(245, 241, 241);
  color: black;
}

#lose-page {
  display: none;
}

#level-page {
  display: none;
}

#gameover-page {
  display: none;
}

canvas {
  height: 764px;
  width: 600px;
  display: block;
  margin: 0 auto;
  background-image: url('../img/racetrackgame.png');
  background-size: cover;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}

#start {
  font-size: 30px;
  color: #fff;
  background: rgb(240, 56, 56);
  padding: 20px;
  border-radius: 38px;
  margin-top: 25px;
}

#restart {
  font-size: 30px;
  color: #fff;
  background: rgb(240, 56, 56);
  padding: 20px;
  border-radius: 38px;
}

#next {
  font-size: 30px;
  color: #fff;
  background: rgb(240, 56, 56);
  padding: 20px;
  border-radius: 38px;
  margin-top: 150px;
}

.instructions {
  color: #000;
  background-color: #c5eaba;
  border-radius: 40px;
  padding: 10px;
  font-size: 25px;
  margin: 40px;
}

.tryagain {
  color: #000;
  background-color: rgb(245, 241, 241);
  padding: 10px;
  font-size: 25px;
  margin: 40px;
}

